.save-icon {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  padding: 0 10px;
  cursor: pointer;
}

.save-icon i {
  padding: 0;
  color: #17a2b8;
  font-size: 30px;
  text-decoration: none;
  z-index: 4;
}

.save-icon i:hover {
  color: red;
  transition: 1s;
}

.save-icon i:active {
  color: red;
  transition: 1s;
}
